%h2
  = Import.model_name.human(count: 5)
  %small= @imports.size

%table.table.table-striped
  %thead
    %tr
      %th= Import.model_name.human(count: 1)
      %th= Import.human_attribute_name(:created_at)
  %tbody
    - @imports.each do |import|
      %tr
        %td
          = link_to import.title, import
          = link_to(icon('trash-o'), import, data: {confirm: t('imports.delete_confirm'), method: :delete})
        %td= import.created_at
