%h2
  = t('link.step', step: 3, total: 3)
  = t('imports.new')

.row
  .col-md-6
    
    %p
      - import_type = @import.attachment.mapping.import_type
      = t('mapping.scenario')
      = t(import_type, scope: 'activerecord.attributes.mapping.enum_values.import_type')
    
    %p
      - document_type = @import.attachment.mapping.document_type
      = t('mapping.selected_document_type')
      = t(document_type, scope: 'activerecord.attributes.mapping.enum_values.document_type')


#csv-table
  %table.table.table-bordered
    %tbody
    - @import.preview.each do |row|
      %tr
        - row.each do |item|
          %td= item
%p= t('imports.total', count: @import.attachment.rows.size - 1)

= form_for [@attachment, @import] do |f|
  .actions
    = f.submit t('imports.create'), class: "btn primary large"
    = link_to t('link.back_to_list'), attachments_path, class: "btn secondary"
