- document_import = @import.attachment.mapping.import_type == 'document'
- document_type   = @import.attachment.mapping.document_type
.header
  .head2
    .title
      = Import.model_name.human(count: 1)
  .head3
    %span.info= @import.title

#side
  .side-list
    .side-list-item
      = link_to(t('.open_document'), salesking_document_link(document_type, @import.data_rows.first.external_id), target: '_parent', class: "btn btn-primary btn-large") if @import.success? && !document_import
    .side-list-item
      = link_to t('link.back_to_list'), imports_path, class: "btn btn-secondary"

#content
  - if @import.data_rows.failed.present?
    %table
      %thead
        %tr
          %th= DataRow.human_attribute_name(:source)
          %th= DataRow.human_attribute_name(:log)
          - if document_import
            %th= DataRow.human_attribute_name(:external_id)
      %tbody
        - @import.data_rows.failed.each do |row|
          %tr
            %td= row.source
            %td= row.log
            - if document_import && row.external_id.present?
              %td= link_to t('.open_in_salesking'), salesking_document_link(document_type, row.external_id), target: '_parent'

