.clearfix
  %label= Mapping.human_attribute_name(:import_type)
  = t('activerecord.attributes.mapping.enum_values.import_type.document_mapping')
  %ul
    - Mapping::DOCUMENT_TYPES.each do |import_type|
      %li
        %label.radio
          = f.radio_button :import_type, import_type
          = t(import_type, scope: 'activerecord.attributes.mapping.enum_values.import_type')
  %label.radio
    = f.radio_button :import_type, 'line_item'
    = t('activerecord.attributes.mapping.enum_values.import_type.line_item_mapping')
.clearfix
  %label= t('mappings.source_fields')
  .input
    %ul#source-fields
      - @attachment.rows(1).first.each_with_index do |item, index|
        %li.field{'data-name' => item, 'data-source' => index}= item
.clearfix
  %p= t('mappings.dnd_info')
.clearfix
  %label= t('.line_item_mapping')
  .input
    %ul.target-fields
      - line_item_mapping_fields.each do |field_attributes|
        %li.field
          .target{field_attributes}= field_attributes['data-target']
.clearfix
  %label= t('.document_mapping')
  .input
    %ul.target-fields
      - document_mapping_fields.each do |field_attributes|
        %li.field
          .target{field_attributes}= field_attributes['data-target']
.actions
  = f.submit t('mappings.proceed_to_import'), class: 'btn primary large'
  = link_to t('link.back_to_list'), attachments_path, class: 'btn secondary'
