%h2
  = Mapping.model_name.human(count: 5)
  %small= @mappings.size

%table.table.table-striped
  %thead
    %tr
      %th= Mapping.model_name.human(count: 1)
      %th= Mapping.human_attribute_name(:created_at)
  %tbody
    - @mappings.each do |mapping|
      %tr
        %td
          = link_to mapping.title, mapping
          = link_to(icon('trash-o'), mapping, data: {confirm: t('mappings.delete_confirm'), method: :delete})
        %td= mapping.created_at
