.header
  .head2
    .title
      = t('link.step', step: 2, total: 3)
      = t('mappings.new')
  .head3
    = t('mappings.info')

- if @mapping.errors.any?
  .alert.alert-danger
    .ul
      - @mapping.errors.full_messages.each do |msg|
        .li 
          = msg

= form_for [@attachment, @mapping] do |f|
  = render partial: 'form', locals: {f: f}
