.btn-toolbar-main
  %a.btn{href: mappings_path, title: t(:'link.back')}
    %i.fa.fa-level-up.fa-rotate-270
  .btn-group
    %button.btn{title: t(:'link.destroy')}
      %i.fa.fa-trash-o
%h2= Mapping.model_name.human(count: 1)

%table.table
  %thead
    %tr
      %th= MappingElement.human_attribute_name(:source)
      %th= MappingElement.human_attribute_name(:target)
  %tbody
    - @mapping.mapping_elements.each do |mapping_element|
      %tr
        %td= mapping_element.source
        %td= mapping_element.target
